<%= form_with(model: store, multipart: true) do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>

    <%= form.check_box :hidden %>
    <%= form.label :hidden, "hidden" %>
      
    <% if current_user.admin? && @sellers.present? %>
      <div>
        <%= form.label :seller, style: "display:block" %>
        <%= form.collection_select :user_id, @sellers, :id, :email, prompt: "Select a Seller." %>
      </div>
    <% end %>

    <%= form.label :image, style: "display: block" %>
    <%= image_tag store.thumbnail if store.image.present? %>
    <%= form.file_field :image %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
