<p style="color: green"><%= notice %></p>

<%= render @store %>

<div>
  <% if current_user.admin? || current_user.eql?(@store.user)%>
    <%= link_to "Edit this store", edit_store_path(@store) %> |
  <% end %>

  <%= link_to "Back to stores", stores_path %>
  
  <% if current_user.admin? %>
    <%= button_to "Destroy this store", @store, method: :delete %>
  <% end %>
</div>
