<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @store %>

<div>
  <% if current_user.admin? || current_user.eql?(@store.user)%>
    <%= link_to "Edit this store", edit_store_path(@store) %> |
  <% end %>

  <%= link_to "Back to stores", stores_path %>
  
  <% if current_user.admin? || current_user.eql?(@store.user) %>
    <%= button_to "Destroy this store", @store, method: :delete %>
  <% end %>

  <hr />
  <p>Products</p>
  
  <p><%= link_to "Show Products", store_products_path(@store) %></p>

  <% if current_user.admin? || current_user.eql?(@store.user)%>
    <p><%= link_to "New Product", new_store_product_path(@store) %></p>
  <% end %>
  
  <hr />

  <p>Orders</p>

  <p><%= link_to "Show Orders", store_store_orders_path(@store) %></p>
  <% if current_user.admin? %>
    <p><%= link_to "New Order", orders_new_store_path(@store) %></p>
  <% end %>
  </div>
</div>
