<div class="content-container">
  <h1>Welcome to Delivery!</h1>
  
  <p style="color:green;"><%= flash[:notice] %></p>
  
  <% if current_user %>
    <p>Logged in as <strong><%= current_user.email %></strong></p>
    <span style="white-space: nowrap;">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn-primary" %>
    </span>
  <% else %>
    <%= link_to "Login", new_user_session_path, class:"btn-login ml-2" %>  
    <span class="mx-2">or</span>
    <%= link_to "Sign up", new_user_registration_path, class:"btn-signup" %>
  <% end %>
</div>
