<div id="<%= dom_id order %>" class="mt-4">
  <p class="mb-0 mt-0"><strong>Order ID</strong> #<%= order.id %></p>
  <p class="mb-0 mt-0"><strong>Status</strong> <%= order.state %></p>
  <p class="mb-0 mt-0"><strong>Price</strong> <%= number_to_currency(order.total_price) %></p>
  <p class="mb-0 mt-0"><strong>Created At</strong></p>
  <p class="mb-0 mt-0"><%= order.created_at.in_time_zone("Brasilia").strftime("%H:%M %d/%m/%Y") %> </p>
</div>