<%= form_with(model: [@store, @product], multipart: true) do |form| %>
  <% if @product.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-md mb-4">
      <h2 class="font-bold"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-center mb-4">
    <div class="mr-4 logo">
      <% if @product.image.present? %>
        <%= image_tag @product.thumbnail, class: "w-24 h-24 rounded-md" %>
      <% else %>
        <%= image_tag "dish-default-256.png", class: "w-24 h-24 rounded-md" %>
      <% end %>
    </div>
    
    <div class="flex flex-col">
      <div class="mb-2">
        <%= form.label :title, class: "block font-bold mb-1" %>
        <%= form.text_field :title, class: "form-input" %>
      </div>
      <div class="mb-2">
        <%= form.check_box :hidden, class: "form-checkbox h-5 w-5" %>
        <%= form.label :hidden, "Hidden", class: "text-sm font-medium text-gray-700" %>
      </div>
      <div class="mb-2">
        <%= form.label :price, class: "block font-bold mb-1" %>
        <%= form.text_field :price, class: "form-input" %>
      </div>
      <div class="mb-2">
        <%= form.label :expires_in, class: "block font-bold mb-1" %>
        <%= form.select :expires_in, 
          [['never', 0],['5 seconds', 5],['1 hour', 3600],['2 hours', 7200],['6 minutes', 1800],['1 day', 86400]],class: "form-input" %>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :image, class: "block font-bold mb-1" %>
    <%= form.file_field :image, class: "form-input" %>
  </div>  

  <div>
    <%= form.submit product.persisted? ? "Update Product" : "Create Product", class: "btn-form" %>
  </div>
<% end %>
